## Visual Studio Code and JetBrains IDE artifacts
.vscode
.idea

## Cached Python compiled bytecode files.
videosite/videos/__pycache__/
videosite/videos/__pycache__/*.pyc
videosite/videosite/__pycache__/
videosite/videosite/videos/__pycache__/
videosite/videosite/videos/__pycache__/*.pyc

## Temporary MP4 files created while using the videos app.
videosite/videos/static/videos/media/
