{% load static %}
<!doctype html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <title>Video Keyframe Server - Videos</title>
  </head>
  <body>
    <p>
      <table>
        {% for video_data in group_of_pictures_tuple %}
          {% if video_data.display_group_begin %}
            <tr>
          {% endif %}
          <td>
            <b>Group {{ video_data.display_index }}</b><br>
            From {{ video_data.timestamp_begin }} to {{ video_data.timestamp_end }}<br>
            <video controls>
              <source src="{% static video_data.output_pathname %}" type="video/mp4">
              Your browser does not support the video tag.
            </video>
            {% if video_data.display_group_end %}
              </tr>
            {% endif %}
          </td>
        {% endfor %}
      </p>
    </table>
  </body>
</html>
